<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="loki_base_url" source="app.loki.baseurl"/>
    <springProperty scope="context" name="loki_log_level" source="app.loki.level"/>
    <appender name="loki" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${loki_base_url}</url>
        </http>
        <format>
            <label>
                <pattern>app=${application_name},host=${hostname},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level h=${hostname} c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="loki"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
</configuration>
